* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgba(0, 0, 0, 0.2);
    transition: background-color 1s ease-in-out;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

#quote-box {
    width: 50%;
    margin: 0 auto;
    padding: 20px 40px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

#text {
    font-size: 1.8rem;
    letter-spacing: 0.2px;
    font-weight: 400;
    color: #333;
    text-align: center;
    transition: color 1s ease-in-out;
    animation: fadeIn 1s ease-in forwards;
}

#author {
    font-size: 1rem;
    font-weight: 200;
    color: #666;
    text-align: right;
    margin-top: 10px;
    transition: color 1s ease-in-out;
}

.card-body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.row {
    gap: 1rem;
}

#tweet-quote {
    flex: 0.1;
    font-size: 0.8rem;
    padding: 10px 10px;
    font-size: 1.1rem;
    background-color: #333;
    transition: background-color 1s ease-in-out;
    color: white;
}

a#tumblr-quote {
    font-size: 0.8rem;
    flex: 0.1;
    padding: 10px 10px;
    font-size: 1.1rem;
    color:white;
    background-color: #333;
    transition: background-color 1s ease-in-out;
}

.btn:hover {

    opacity: 0.8;
}

.btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

#new-quote {
    flex: 0.2;
    margin-left: auto;
    padding: 10px 20px;
    font-size: 0.8rem;
    font-weight: 600;
    color: #fff;
    background-color: #333;
    transition: background-color 1s ease-in-out;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    #quote-box {
        width: 80%;
    }
}